<ul>
  <li>
    Name: <%= oldest_student.name %>
  </li>
  <li>
    Birthday: <%= oldest_student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= oldest_student.hometown.capitalize %>
  </li>
</ul>
